[package]
name = "cloud-storage-signature"
version = "0.1.1"
authors = ["bouzuya <m@bouzuya.net>"]
description = "A Cloud Storage signature utils"
edition = "2021"
exclude = [".github", "docs"]
keywords = ["storage", "gcloud", "google", "cloud"]
license = "MIT OR Apache-2.0"
repository = "https://github.com/bouzuya/cloud-storage-signature"

[dependencies]
base64 = "0.22.0"
chrono = "0.4.35"
form_urlencoded = "1.2.1"
http = "1.1.0"
pem = "3.0.3"
ring = "0.17.8"
serde = { version = "1.0.197", features = ["derive"] }
serde_json = "1.0.115"
sha256 = "1.5.0"
thiserror = "1.0.58"
url = "2.5.0"

[dev-dependencies]
anyhow = "1.0.81"
reqwest = { version = "0.12.3", default-features = false, features = [
  "rustls-tls",
  "multipart",
] }
serde_json = "1.0.115"
tokio = { version = "1.37.0", features = ["full"] }
